<footer class="ae-container-fluid rk-footer ">
    <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
            <ul class="rk-menu rk-footer-menu">
                <li routerlinkActive="active" class="rk-menu__item"><a routerLink="inicio" class="rk-menu__link">Inicio</a>
                </li>
                <li routerlinkActive="active" class="rk-menu__item"><a routerLink="proyectos" class="rk-menu__link">Proyectos</a>
                </li>
            </ul>
            <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">{{anio}} {{ infoPaginaService.info.copyright }} </span></p>
        </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
            <p class="rk-footer__text rk-footer__contact "> <span class="ae-u-bold">Email: </span><span class="ae-u-bolder"> <a href="mailTo:{{ infoPaginaService.info.email }}" class="rk-dark-color ">{{ infoPaginaService.info.email }}</a></span></p>
        </div>
    </div>
</footer>